$primary-color-1:#c74936;
$primary-color-2:rgb(190, 131, 123);
$primary-color-3:rgb(201, 121, 110);
$primary-color-4:rgb(199, 84, 69);
$primary-color-5:rgb(255, 246, 246);
$primary-color-6:rgb(255, 239, 239);
$primary-color-7:rgb(250, 204, 198);
$color-test:#3c7c17;
// 修改默认样式
body {
  .el-dialog__header {
    background: $primary-color-5;
    transition: all .2s;
    padding: 8px 20px;
    height: 40px;
  }
  .el-dialog__headerbtn {
    top: 0px;
    right: 0px;
    height: 40px;
    color: $primary-color-1;
    width: 40px;
    transition: all 0.2s;
    border-top-right-radius: 4px;
  }
  .el-dialog__headerbtn:hover {
    background-color: $primary-color-1;
    color: #fff;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: $primary-color-2;
    transition: all 0.2s; // color: #fff;
  }
  .el-dialog__headerbtn:hover .el-dialog__close {
    color: #fff; // color: #fff;
  }
  .el-dialog__body {
    color: #000;
    font-size: 16px;
    padding: 15px;
    background: #fdfdfd;
  }
}

body .stage {
  .el-tree-node__content {
    height: 36px;
    font-size: 16px;
    border-bottom: dotted 1px #aaa;
  }
  .el-table__row.current-row td {
    background: $primary-color-7; // color: #fff;
  }
  .el-table__row:hover td {
    background: $primary-color-6;
  }
  .el-table__row.current-row:hover td {
    background: $primary-color-7; // color: #fff;
  }
  .el-tree-node__content>.el-tree-node__expand-icon {
    padding: 6px 12px;
  }
  .el-table--enable-row-transition .el-table__body td {
    transition: all .2s;
  }
  .el-dialog {
    border-radius: 4px;
    overflow: hidden;
  }
  .fixed-table .cell {
    font-size: 14px;
  }
  .el-dialog__footer {
    padding: 15px;
    padding-top: 0;
  } // .el-button--mini,
  // .el-button--small {
  //   border-radius: 0;
  // }
  .el-menu-item-group__title {
    height: 0;
    padding: 0;
  }
  .el-menu-item,
  .el-submenu__title {
    font-size: 16px;
  }
  .el-menu {
    border-radius: 8px;
  }
  .el-submenu__title,
  .el-menu-item {
    border-left: solid 4px transparent;
  }
  .el-submenu.is-active .el-submenu__title,
  .el-submenu .el-submenu__title:hover {
    border-left: solid 4px $primary-color-3;
    background: $primary-color-5;
  }
  ol>li>ol,
  ol>li>ul,
  ul>li>ol,
  ul>li>ul {
    margin: 0;
  }
  .el-upload__input {
    display: none;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: $primary-color-1;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .avatar {
    width: 100px;
    height: 100px;
    display: block;
  }
  .el-input__inner {
    background: rgba(255, 255, 255, 0.822);
  }
  .el-input.is-active .el-input__inner,
  .el-input__inner:focus {
    background: #fff;
  }
  .el-checkbox.is-bordered {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

/*************
/* 具体样式
*************/

.xc1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  font-size: 14px;
  &--title {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    text-shadow: #ccc 4px 2px 2px;
    padding: 0 20px;
  }
  &--center {
    flex: 100% 1 1;
  }
  &--control {
    flex: 100px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    transition: all 0.1s;
    cursor: pointer;
    &:hover {
      background: #f3f3f3;
    }
    &.-text {
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }
  &--badge {
    background: rgb(185, 44, 44);
    color: #fff;
    min-width: 22px;
    font-size: 12px;
    text-align: center;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
  }
}

.xc2 {
  padding-top: 6px;
  &--img-box {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.2s;
  }
  &--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -5px;
    top: -5px;
    width: 25px;
    height: 25px;
    background: #c03030;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: rotateZ(90deg);
      background: #d45353;
    }
  }
  &--box {
    display: flex;
    flex-wrap: wrap;
  }
  &--title {
    font-size: 22px;
    padding: 10px 0;
  }
  &--img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: #aaa 1px 1px 3px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &--add {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed 1px #aaa;
    color: #666;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      border-color: $primary-color-1;
    }
  }
  &--box-out {
    display: inline-block;
  }
  &--image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.xc3 {
  // width: 800px;
  // margin: auto;
  &--title {
    font-size: 22px;
    padding: 10px 0;
  }
  &--ue {
    width: 100%;
  }
}

$panel-header-height:40px;
.xc4 {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: #aaa 1px 1px 5px;
  margin: auto;
  margin-bottom: 30px;
  &--header {
    height: $panel-header-height;
    line-height: $panel-header-height;
    padding-left: 15px;
    padding-right: 7px;
    color: #f6f6f6;
    font-size: 16px;
    display: flex;
  }
  &--header-left {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &--button-box {
    display: flex;
    align-items: center;
  }
  &--body {
    padding: 15px;
  }
}

.xc5 {
  margin-right: 5px
}

.xc6 {
  border-radius: 6px;
  overflow: hidden;
  margin-right: 5px;
  background: #fff;
  &.x-center {
    margin: auto;
  }
}

.xc7 {
  &--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &--btns {
    flex: 6em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    flex-flow: column;
  }
}

.xc8 {
  height: 400px;
  overflow: auto;
  .el-checkbox {
    display: block;
    margin-left: 0;
  }
}

.xc9 {
  display: flex;
  &--label {
    flex: 3em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.xc10 {
  .el-icon-delete,
  & span {
    color: red;
  }
  &.el-button {
    border-color: rgb(255, 195, 195);
  }
}

.xc11 {
  input {
    font-weight: bold;
  }
}

.xc12 {
  display: flex;
  flex-wrap: wrap;
  &--item {
    flex: 260px 0 0;
    height: 130px;
    background: #ac3727;
    margin: 4px;
    border-radius: 8px;
    transition: all 0.2s;
    cursor: pointer;
    &:not(.x-no-user):hover {
      background: #be4a3a;
      transform: scale(1.015)
    }
    &.x-no-user {
      background: #a58783;
      cursor: default;
    }
  }
  &--title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
  }
  &--count {
    text-align: center;
    color: #e2e2e2;
    font-size: 16px;
    padding-top: 10px;
  }
  &--gold {
    text-align: center;
    color: #e2e2e2;
    font-size: 18px;
    padding-top: 10px;
    color: #f1c463;
  }
  &--edit {
    display: flex;
  }
  &--text {}
}

.xc13 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.xc14 {
  &--title {
    font-weight: bold;
    padding: 6px 0;
  }
  &--file {
    border: solid 1px #dcdfe6;
    padding: 6px;
    border-radius: 4px;
  }
  &--content {
    padding-left: 4em;
  }
}

.xc15 {
  .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.xc16{
  width:60px;
  height:60px;
  border-radius: 5px;
  overflow: hidden;
}